<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Day8_Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6010F21BC68CCE008E6F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6011061BC68CCE008E6F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6011111BC68CCE008E6F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
